@import url('https://fonts.googleapis.com/css2?family=Domine:wght@500&family=Open+Sans:wght@300;400&display=swap');

body {
    font-family: 'Open Sans', 'Arial', sans-serif;
    font-size: 22px;
    margin: 0;
    padding: 0;
    background-color: white;
}

h2 {
    margin: 0;
}

h4 {
    color: white;
}

#content {
    max-width: 1600px;
    margin: 0 auto;
}

nav {
    display: flex;
    justify-content: space-around;
}

nav a {
    text-align: center;
    color: white;
    text-decoration: none;
    padding: 35px;
}

nav a:hover {
    background-color: #E08E45;
    color: black;
}

#hero {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    margin-top: -100px;
}

#hero-box {
    grid-column: 1/4;
    grid-row: 1/3;
    z-index: -1;
}

#hero-img {
    width: 100%;
}

#hero-msg {
    grid-column: 2/3;
    grid-row: 1/2;
    margin-top: 100px;
}

#hero-msg h1,
#hero-msg h4 {
    text-align: center;
}

.button-box {
    text-align: center;
}

.home-grid {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
}

main.home-grid section {
    text-align: center;
}

main.home-grid section img {
    box-sizing: border-box;
}

#background {
    height: 725px;
    background-color: #E08E45;
    grid-column: 1/11;
    grid-row: 4/9;
}

header {
    background-color: #32936F;
    display: grid;
    grid-template-columns: 150px auto;
}

.book,
.join {
    background-color: #E08E45;
    color: black;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}

.book:hover,
.join:hover {
    background-color: #201E1F;
    color: white;
}

.rivers-card,
.camping-card,
.rapids-card {
    margin: 200px 0;
}

.rivers-card {
    grid-column: 2/4;
    grid-row: 2/3;
}

.camping-card {
    grid-column: 5/7;
    grid-row: 2/3;
}

.rapids-card {
    grid-column: 8/10;
    grid-row: 2/3;
}

.mountains {
    width: 100%;
    grid-column: 2/7;
    grid-row: 5/8;
    box-shadow: 5px 5px 10px #201E1F;
}

.card-img {
    width: 100%;
    border: 10px solid #32936F;
    transition: transform 0.5s;
    box-shadow: 5px 5px 10px #201E1F;
}

.card-img:hover {
    opacity: 0.6;
    transform: scale(1.1);
}

.home-title {
    color: white;
    font-family: 'Domine', 'Times New Roman', serif;
    font-size: 2em;
    margin-top: 10px;
}

.msg {
    background-color: #32936F;
    line-height: 1.5em;
    padding: 35px;
    grid-column: 6/10;
    grid-row: 6/7;
    box-shadow: 5px 5px 10px #201E1F;
}

.msg h2 {
    color: white;
    font-family: 'Domine', 'Times New Roman', serif;
}

.msg p {
    color: white;
    font-size: 0.8em;
    padding-bottom: 15px;
}

#logo-link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}

.logo {
    width: 80px;
    padding-top: 5px;
}

.icon {
    width: 80px;
    padding-top: 10px;
}


footer {
    background-color: #3e3e3e;
    color: white;
    padding: 25px 50px;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer a {
    color: white;
    text-decoration: none;
}

footer a:hover {
    color: #32936F;
}

footer p {
    font-size: 1.2em;
}

footer p a:hover {
    text-decoration: underline;
}

footer .social-img {
    padding-top: 15px;
}



/* --- Styles for Rivers page ---*/

#rivers-page-hero {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
}

#rivers-page-hero-box {
    grid-row: 1/2;
    grid-column: 1/4;
}

#rivers-page-hero-img {
    width: 100%;
    display: block;
}

#rivers-page-hero-msg {
    text-align: center;
    grid-row: 1/2;
    grid-column: 2/3;
}

.rivers-title {
    color: white;
    font-family: 'Domine', 'Times New Roman', serif;
    font-size: 2em;
    margin-top: 10px;
}

.rivers-description {
    font-size: 16px;
    text-align: left;
    padding: 1.5rem;
}

.rivers-overview {
    margin-top: 1rem;
    display: grid;
    grid-template-columns: auto 800px;
    background-color: #32936F;
    color: white;
    padding: 1rem;
    border-radius: 10px;
}

.rivers-overview-text {
    font-size: 16px;
}

.rivers-overview-imgs {
    grid-column: 2/5;
    text-align: right;
}

.rivers-overview-imgs img {
    width: 250px;
}

.river-description {
    margin-top: 4rem;
    padding: 1.5rem;
    border-radius: 10px;
    background-color: #201E1F;
    color: #ededed;
}


.river-description-main-img {
    margin-left: 2rem;
    margin-bottom: 1rem;
    max-width: 350px;
    float: right;
}

.river-description-main-img-wide {
    width: 100%;
}

.river-description-imgs {
    width: 100%;
    margin-top: 1rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
}

.river-description-imgs img {
    width: 80%;
    max-height: 230px;
    transition: transform 0.5s;
    box-shadow: 5px 5px 10px #201E1F;
}

.river-description-imgs img:hover {
    transform: scale(1.1);
}

.call-to-action {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    row-gap: 1rem;
    margin-top: 5rem;
    padding: 2rem;
    border-radius: 10px;
    background-color: #32936F;
}

.call-to-action * {
    grid-column: 2/3;
    text-align: center;
    color: white;
}

.clearfix::after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

@media screen and (max-width: 900px) {

    #hero,
    .home-grid {
        display: block;
        height: auto;
    }

    nav,
    footer {
        flex-direction: column;
    }

    nav a {
        display: block;
        padding: 15px;
    }

    #hero {
        margin-top: 0;
    }

    #hero-msg {
        margin-top: 0;
    }

    #hero-msg h4 {
        display: none;
    }

    .home-title {
        font-size: 25px;
        color: #6f7364;
    }

    .rivers-card,
    .camping-card,
    .rapids-card {
        margin: 50px auto;
        width: 60%;
    }

    #background {
        display: none;
    }

    .mountains,
    .msg {
        width: 80%;
        display: block;
        margin: 0 auto;
    }

    footer {
        margin-top: 25px;
    }
}